@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}
:root{
    --text: #0f2027;
}

body {
    width: 100%;
    height: 100vh;
    padding: 2rem;
    background: linear-gradient(to bottom, rgb(255, 255, 255), rgb(247,220,236), rgb(199,167,229));
    background-repeat: no-repeat;
    background-size: cover;
}

.nav-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: .8rem;
}

.logo{
    color: var(--text);
    font-weight: 700;
    cursor: pointer;
}

.nav-links a{
    text-decoration: none;
    color: var(--text);
}

.nav-links {
    display: flex;
    justify-content: space-between;
    gap: 3rem;
}

.hero-content {
    width: 100%;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.role{
    padding: .5rem 1rem;
    background-color: rgba(255, 255, 255, 0.616) 0.1);
    border: 1px solid rgb(255, 255, 255);
    border-radius: 50px;
    margin-bottom: 3rem;
}

.role p{
    color: var(--text);
}

.infos {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: var(--text);
    gap: 1rem;

}